#root {
  margin: 0 auto;
  padding: 2rem;
}

.cv-form{
    border: 2px solid black;
    padding: 20px 50px;
}

.entry{
    display: flex;
    flex-direction: column;
}

.gen-info{
    border: 2px solid green;
}
