#root {
  margin: 0 auto;
  padding: 2rem;
}


.cv-form{
    border: 2px solid black;
    padding: 20px 50px;
    overflow-y: auto;
}

.entry{
    display: flex;
    flex-direction: column;
}

.form-section{
    border: 2px solid green;
    margin: 10px 0px;
}

#add{
    border: 2px solid black;
}
